.clearBtn {
  color:black;
  background-color: rgb(205 255 0);
  padding: 5px;
  &:hover {
    background-color: rgb(160 199 0);

  }
  }

  .filterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
    border-width: medium;
    border-top-left-radius: 10px; /* Закругление верхнего левого угла */
    border-top-right-radius: 10px; /* Закругление верхнего правого угла */
    padding: 5px 0;
  }

  .filterOptionsContainer 
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }  
 
 .calendar_and_status_filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }


  .exchangeID_from_to_filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

