@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #343443;
}
